# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/.open-next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.dev.vars
.dev.vars.*
!.dev.vars.example
.env*.local
cloudflare-env.d.ts

# typescript
*.tsbuildinfo
next-env.d.ts
